#detailCard h4, h2, form{
    display: flex;
    justify-content:center;
    align-items: center;
}
#detailCard {
    margin: auto;
    background: rgb(252,207,126);
    background: linear-gradient(90deg, rgba(252,207,126,1) 0%, rgba(250,108,47,1) 76%, rgba(255,28,28,1) 100%); 
    height: 100%;
    width: 100%;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}
#detailImg {
    display: flex;
    padding-left: 10%;
    padding-top: 2%;
    margin-left: 14%;
}

#buttonsDiv {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#buttonsDiv form {
    margin: 2px
} 

#navButton {
    display:inline;
	justify-content: center;
	background-color: #DE4224 ;
	border: none;
	color: white;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	border-radius: 3px;
    margin: 5px
}
#navButtonDb{
    display:inline;
	justify-content: center;
	background-color: #DE4224 ;
	border: none;
	color: white;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	border-radius: 3px;
    margin: 5px;
    margin-left: 65px;
}