#pokeCard h2{
    display: flex;
    justify-content:center;
    align-items: center;
}
#pokeCard h4{
    display: flex;
    justify-content:center;
    align-items: center;
    color: rgb(53, 49, 49);
}
#pokeCard {
    margin: auto;
    border-radius: 6px;
    background: rgb(252,207,126);
    background: linear-gradient(0deg, rgba(252,207,126,1) 0%, rgba(250,108,47,1) 76%, rgba(255,28,28,1) 95%); 
    opacity: 90%;
    height: 260px;
    width: 200px;
    color: whitesmoke;
    padding-top: 2px;
    padding-bottom: 5px;
    margin: 10px;
}
#pokeCard a{
    display: flex;
    justify-content:center;
    text-align: center;
}

