.Card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 10px;
	margin-left: 9%;
	margin-right: 0%;
	height: 900px;
}

.Pages {
	display: flex;
	padding: 1%;
	margin-left: 9%;
}


.Buttons {
	display: flex;
	justify-content: center;
	background-color: #DE4224 ;
	border: none;
	color: white;
	padding: 10px 12px;
	text-align: left;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	margin-left:220px;
	border-radius: 3px;
};